<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.ugo.mapper.GoodsMapper">

    <resultMap id="goodsMap" type="goods">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="amount" property="amount" />
        <result column="description" property="description" />
        <result column="collect" property="collect" />
        <result property="categoryId" column="category_id" />
        <result property="status" column="status" />
    </resultMap>

    <resultMap id="homeGoodsMap" type="homeGoodsVo">
        <id column="id" property="goods.id" />
        <result column="name" property="goods.name" />
        <result column="price" property="goods.price" />
        <result column="amount" property="goods.amount" />
        <result column="collect" property="goods.collect" />

        <collection property="picture" ofType="string" javaType="arrayList">
            <constructor>
                <arg column="picture"></arg>
            </constructor>
        </collection>

    </resultMap>

    <select id="getRecommendGoods" resultMap="homeGoodsMap">
        SELECT goods.id, name, picture FROM goods JOIN goods_picture ON goods.id=goods_picture.goods_id ORDER BY RAND() LIMIT 4
    </select>

</mapper>